* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BARRE DE NAVIGATION */

nav {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #222;
  font-family: Arial, sans-serif;
  max-width: 1700px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
}

/* CONTENEUR CENTRAL */
.navigation-div {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

/* MENU GAUCHE */
.nav-left ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-left a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  transition: 0.2s;
}

.nav-left a:hover {
  color: orangered;
  text-decoration: underline;
}

/* PARTIE DROITE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

/* ICONES */
.nav-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icon img {
  width: 28px;
  cursor: pointer;
  filter: brightness(0) invert(1); /* icônes blanches */
  transition: 0.3s;
}

.nav-icon img:hover {
  filter: invert(46%) sepia(87%) saturate(2000%);
}

/* LANGUE */
.nav-lang a {
  color: orangered;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}

.section-nav2 {
  height: 110px;
  background-color: black;
  justify-content: space-between;
  display: flex;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  align-items: center;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid #222;
  max-width: 1700px;
  margin: 0 auto;
}

/* Décalage du contenu pour éviter qu'il soit caché par la nav */
main {
  margin-top: 60px;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.section-nav2 .div-logo img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.section-nav2 .liste2 {
  margin-left: -20rem;
  margin-top: 3.2rem;
}

.section-nav2 .liste2 ul {
  display: flex;
  color: white;
  gap: 30px;
  font-size: 17px;
  font-weight: 900;
  list-style: none;
  transition: 0, 3s;
  cursor: pointer;
}

.liste2 li:hover {
  color: orangered;
  text-decoration: underline;
}

.icon-search {
  width: 28px;
  margin-top: 3.2rem;
  transform: translateX(-200px);
  filter: brightness(0) invert(2);
  transition: 0.3s;
  cursor: pointer;
}

.icon-search:hover {
  filter: invert(46%) sepia(87%) saturate(2000%);
}

.section-hero1 {
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  padding-top: 1rem;
}

.titre-orange {
  font-size: 40px;
}

.section-hero1 .orange1 {
  color: orangered;
}

.conteneur-hero1 {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.image-texte-hero1 {
  display: flex;
  gap: 40px;
  position: relative;
}
.icon-dimension {
  width: 40px;
  display: flex;
}
.sous-titre-icon {
  color: orangered;
  position: absolute;
  bottom: -30px;
  right: 30px;
  top: 30px;
}

.icons-dimension {
  width: 70px;
}

.section-hero2 {
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  padding-top: 1rem;
  background: #fff;
  position: relative;
}

.section-hero2 .conteneur-img2 button {
  position: absolute;
  background-color: orangered;
  color: #fff;
  font-weight: 900;
  border-radius: 5px;
  padding: 10px 20px;
  display: block;
  margin-top: -5rem;
  margin-left: 2rem;
  border: none;
  cursor: pointer;
}

.section-hero2 .conteneur-img2 button:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.section-hero2 .conteneur-img3 button {
  position: absolute;
  background-color: black;
  color: #fff;
  font-weight: 900;
  border-radius: 5px;
  padding: 10px 20px;
  display: block;
  margin-top: -5rem;
  margin-left: 2rem;
  border: 1px solid white;
  cursor: pointer;
}

.section-hero2 .conteneur-img3 button:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.conteneur-hero2 {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1240px;
}

.conteneur-img1 {
  flex: 1;
  position: relative;
  height: 32rem;
}

.image-hero2 {
  width: 47rem;
  height: 32rem;
  object-fit: cover;
}

.bloc-droite {
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.conteneur-img2 img {
  width: 29rem;
  height: 13rem;
}
.conteneur-img3 img {
  width: 29rem;
}

.conteneur-img1 img,
.conteneur-img2 img,
.conteneur-img3 img {
  object-fit: cover;
}

.div-boutton {
  position: absolute;
  margin: 1rem;
  bottom: 1rem;
  color: white;
  z-index: 1;
  padding-left: 1rem;
  text-align: justify;
}
.div-boutton h1 {
  color: orangered;
}

.div-boutton button {
  padding: 10px 20px;
  padding-left: 1rem;
  color: white;
  font-weight: 900;
  background-color: orangered;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.div-boutton button:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.section-hero3 {
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  padding-top: 3rem;
}
.section-hero3 h1 {
  font-size: 55px;
}
.color-orange {
  color: orangered;
}

.section-hero3 .conteneur-hero3 {
  padding-top: 2rem;
  display: flex;
  gap: 30px;
  align-items: center;
}

.image-forfait1 img {
  width: 289px;
}

.section-hero4 {
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  padding-top: 3rem;
}

.service-wifi-container {
  display: flex;
  gap: 15px;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.section-hero4 h1 {
  font-size: 55px;
}

.section-hero4 .service-wifi {
  width: 405px;
  height: 520px;
  background-color: black;
  color: white;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-left: 10px;
}

.service-item img {
  width: 70px;
  height: 70px;
  padding-bottom: 15px;
}

.service-list .service-item {
  display: flex;
  gap: 30px;
}
.service-item {
  align-items: center;
  border-bottom: 1px solid white;
  width: 95%;
}

.service-item:nth-child(2),
.service-item:nth-child(3) {
  margin-top: -2.7rem;
}

.service-wifi-container > .service-wifi:nth-of-type(2) {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
}
.service-wifi-container > .service-wifi:nth-of-type(2) .paragraph,
.service-wifi-container > .service-wifi:nth-of-type(2) .service-item {
  border-bottom: 1px solid #ccc;
}

.service-item h3 {
  margin-left: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 1rem;
}

.service-wifi h2 {
  margin-bottom: 30px;
  margin-left: 16px;
  padding-top: 10px;
}
.service-wifi .paragraph {
  margin-left: 16px;
  padding-bottom: 45px;
}

.service-wifi .paragraph {
  border-bottom: 1px solid white;
  width: 93%;
}
.service-item p {
  margin-left: 10px;
  padding-bottom: 20px;
}

.section-hero5 {
  height: 250px;
  background-color: #ccc;
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  padding-top: 3rem;
}

.accessoires .accessoire-item1 {
  display: flex;
  align-items: center;
  gap: 550px;
}
.accessoires .accessoire-item1 h2 {
  font-size: 35px;
  font-weight: 800;
}

.accessoires .accessoire-item1 h6 {
  font-size: 10px;
  font-weight: 800;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.accessoire-item2 {
  display: flex;
  align-items: center;
  padding-top: 50px;
  gap: 120px;
}

.accessoire-item2 .image1 {
  width: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}

.accessoire-item2 .image2 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
  padding-left: 120px;
}

.accessoire-item2 .image3 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}

.accessoire-item2 .image4 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}

.accessoire-item2 .sim1 {
  width: 30px;
}

.accessoire-item2 .img12 {
  width: 45px;
}
.accessoire-item2 .img13 {
  width: 40px;
}

.section-hero6 {
  background-color: #000000;
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  padding-top: 2rem;
}

.section-hero6 h2 {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.item-maxit li {
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
  padding-left: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.item-maxit {
  padding-left: 1.2rem;
}

.item-maxit li::marker {
  color: orangered;
}

.div-maxit {
  display: flex;
  gap: 200px;
  align-items: center;
}

.div-iconh6 {
  display: flex;
  gap: 8px;
  color: white;
  border: 1px solid white;
  padding: 10px 18px;
  height: fit-content;
  align-items: center;
}

.div-iconh6 img {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1); /* blanc */
}

.div-iconh6:hover img {
  filter: brightness(0); /* noir */
}

.div-iconh6 {
  background-color: black;
  color: #fff;
}

.div-iconh6:hover {
  background-color: white;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.img-maxit {
  width: 600px;
}

.section-hero7 {
  height: 120px;
  background-color: orangered;
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  padding-top: 3rem;
  border-bottom: 2px solid #929292;
  border-top: 2px solid #000000;
}

.div-resaux h3 {
  color: #000000;
  font-weight: 800;
}
.div-resaux {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nos-reseaux img {
  width: 40px;
  filter: brightness(0) invert(1);
}

.nos-reseaux img:hover {
  filter: brightness(0);
}

.section-avant-hooder {
  height: 425px;
  background-color: #000000;
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
  padding-top: 2rem;
  display: flex;
  gap: 8rem;
  border-bottom: 2px solid #929292;
}

.footer-col h4 {
  color: #fff;
  padding-bottom: 3rem;
  font-weight: 800;
}

.footer-col a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.footer-col a:hover {
  color: orangered;
  text-decoration: underline;
}
.footer-col ul li {
  list-style: none;
}

.footer-col ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer {
  background-color: #000000;
  height: 100px;
  font-family: Arial, sans-serif;
  padding: 0 30px;
  padding-left: calc((100% - 1300px) / 2 + 30px);
}

.footer-nav .footer-links {
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
  color: #fff;
  list-style: none;
}

.footer-nav .footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.footer-nav .footer-links a:hover {
  color: orangered;
  text-decoration: underline;
}

.footer-copy p {
  color: white;
}

.footer-nav {
  padding-top: 20px;
}
